<title>{% block title %} Espace Formateur {% endblock %}</title>

   {% block body %}

   <h1>Formateur</h1>

      {% if is_granted('ROLE_FORMA') %}
         <div class="Bouton" > <a  href="{{ path('app_logout') }}">Déconnexion</a> </div>
      {% endif %}
      <br><br>
       <div class="Bouton" >  <a href="{{ path('crea_quiz') }}">Créer un Quiz</a> </div>
       <div Class="Bouton">   <a href="{{ path('quiz_list') }}">Liste des Quiz</a></div>
       <div Class="Bouton">   <a href="{{ path('liste_eleves') }}">Correction</a></div>

{% endblock %}




<style>
   h1{
      text-align: center;
      margin-top: 2em;
   }

   .Bouton{
      margin: 2em auto;
      width: 20%;
      border: black solid 2px;
      padding: 1%;
      background-color: black;
      text-align: center;
   }
   a{
      text-decoration: none;
      color: white;
      height: 100%;
      width: 100%;
   }
   a:hover {
      color: deepskyblue;
   }
</style>