{% extends 'base.html.twig' %}

{% block title %}Liste des quiz{% endblock %}

{% block body %}
<h1>élèves</h1>

            {% for user in users  %}

                <li><a href="{{ path('liste_copies_user', {'id': user.id}) }}">{{ user.Username }}</a></li>
            {% endfor %}
{% endblock %}