{{ form_start(form) }}
{{ form_row(form.question) }}
{{ form_row(form.noteMaximalequestion ) }}
<button type="submit" name="action" value="save_and_continue">Enregistrer et continuer</button>
<button type="submit" name="action" value="save_and_quit">Enregistrer et quitter</button>
{{ form_end(form) }}